/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-background-radius: 5em;
    -fx-background-color: -fx-body-color;
}
.textfieldcss{
	-fx-background-radius: 5em;
    -fx-background-color: -fx-body-color;
}
.tab{
	-fx-background-radius: 10px 0.0px 10px 0px ;
    -fx-background-color: #82ae67;
    -fx-border-radius: 2px ;

}